<% layout('/layouts/boilerplate') -%>

<!-- <body> -->
<div class="row">
  <div class="col-md-8 offset-2">
    <br />
    <form
      method="POST"
      action="/listings/<%= listing._id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
          class="form-control"
          placeholder="title"
          required
        />
        <div class="valid-feedback">Looks Good</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          name="listing[description]"
          class="form-control"
          placeholder="description"
          required
        >
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">Please provide a valid description.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Old Image -</label>
        <img
          src="<%= originalImageUrl%>"
          class="card-img-top show-img"
          alt="Listing image"
        />
        </div>
      <div class="mb-3">
        <label for="image" class="form-label">Upload new Image -</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
        />
        <div class="invalid-feedback">Please enter image URL</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            value="<%= listing.price %>"
            class="form-control"
            placeholder="price"
            required
          />
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= listing.country %>"
            class="form-control"
            placeholder="country"
            required
          />
          <div class="invalid-feedback">Provide valid country name</div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Location</label>
          <input
          type="text"
          name="listing[location]"
          value="<%= listing.location %>"
          class="form-control"
          placeholder="location"
          required
          />
          <div class="invalid-feedback">Enter valid location</div>
        </div>

       
      </div>
        
        <button class="btn add-btn">Add</button>
      <br /><br />
    </form>
  </div>
</div>
<!-- </body> -->
