
<% layout('/layouts/boilerplate') -%>

<br>
<h3>All Listings</h3>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
    <% for(listings of allListings){%>
      <a href="/listings/<%=listings._id%>" class="listing-links">
        <div class="card listing-card col" >
          <img src="<%= listings.image %>" class="card-img-top"  style="height: 20rem;" alt="Listing Image">
          <!-- overlay -> img select effect  -->
          <div class="card-img-overlay"></div>

          <div class="card-body">
            <p class="card-text">
              <b> <%= listings.title %> </b>
              <br>
              <!-- <% if (listings && listings.price !== null && listings.price !== undefined) { %>
                &#8377;<%= listings.price.toLocaleString('en-IN') %>/night
            <% } %>             -->
         &#8377;<%= listings.price.toLocaleString('en-IN') %>/night
             
           </p>
          </div>
        </div>
      </a>

      <% } %> 
    </div>

        <!-- <li><a href="/listings/<%=listings._id%>"></a></li> -->