
<% layout('/layouts/boilerplate') -%>
<div class="row">
    <div class="col-8 offset-2 mt-3">
        <h3><b><%= listing.title %></b> <br></h3>
        
    </div>

<div class="card listing-card col-8 offset-2">
    <img src="<%= listing.image %>" class="card-img-top show-img" alt="Listing image">
    <div class="card-body">
        <p class="card-text">Owned by : <b><%= listing.owner.username%> </b></p>
        <p class="card-text"> <%= listing.description %> </p>
        <p class="card-text">Price: <b>&#8377;<%= listing.price.toLocaleString('en-IN') %> / night </b> </p>
        <p class="card-text">Location :  <%= listing.location %>, </p>
        <p class="card-text">Country :  <%= listing.country %> </p>
    </div>
    <br>
    
    <div class="btns">
        <a href="/listings/<%=listing._id %>/edit" class="btn btn-success">Edit Details</a>
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="btn add-btn">Delete  Details</button>
        </form>
    </div>
</div>

<div  class="col-8 offset-2 mb-3">
    <hr>
        <h4>Rating and Reviews</h4>
        <form method="POST" action="/listings/<%=listing._id%>/reviews" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="rating" class="form-label">Rate this place</label>
                <div class="d-flex justify-content-between">
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>4</p>
                    <p>5</p>
                </div>
            <input type="range" min="1" max="5" id="review" name="review[rating]" class="form-range">
        </div>
        <div class="mb-3">
            <label for="comment" class="form-label">Write a review </label>
                <textarea tarea name="review[comment]" id="comment" cols="90" rows="5" class="form-control" required></textarea>
                <div class="invalid-feedback">Please write your experience &#128522;</div>
            </div>
            <button class="btn btn-success">Submit Review</button>
        </form>
        <hr>
        <p><b>All Ratings and Reviews</b></p>
        <div class="row">
        <% for(review of listing.reviewDetails){ %>
          <div class="card mb-3 col-5 ms-3">
          <div class="card-body">
           <h5 class="card-title">Yash Rajput</h6>
            <p class="card-text"><%= review.comment %> </p>
            <p class="card-text"><%= review.rating %> Stars</p>
            <form method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                <button class="btn btn-danger btn-sm">Delete</button>
            </form>
        </div>
        </div>
        <% } %>
    </div>
    </div>
</div>