<% layout('/layouts/boilerplate') -%>
<!-- this file js code is run before the map.js file code, because we require map.js file in the last  -->
<script>
  const mapAccessToken = "<%=process.env.MAP_PUBLIC_TOKEN %>"; //public/javascripts files directly can not access enviroment variables
  const listing = <%- JSON.stringify(listing) %>;
</script>
<div class="row">
  <!-- <div class="col-8 offset-2 mt-3"> -->
  <div class="offset-md-1 offset-lg-2 col-xs-12 col-sm-12 col-md-10 col-lg-8 mb-3">
  <h3><b><%= listing.title %></b> <br /></h3>
  </div>

  <div class="card listing-card offset-md-1 offset-lg-2 col-xs-12 col-sm-12 col-md-10 col-lg-8 ">
    <img
      src="<%= listing.image.url %>"
      class="card-img-top show-img"
      alt="Listing image"
    />
    <div class="card-body">
      <p class="card-text">Owned by : <b><%= listing.owner.username%> </b></p>
      <p class="card-text">Category: <b><%= listing.category%></b></p>
      <p class="card-text"><%= listing.description %></p>
      <p class="card-text">
        Price:
        <b>&#8377;<%= listing.price.toLocaleString('en-IN') %> / night </b>
      </p>
      <p class="card-text">Location : <%= listing.location %>,</p>
      <p class="card-text">Country : <%= listing.country %></p>
    </div>
    <br />

    <!-- added authorization, button shows only for the owner of listings-->
    <% if(currentUser && currentUser._id.equals(listing.owner._id)){ %>
    <div class="btns">
      <a href="/listings/<%=listing._id %>/edit" class="btn btn-success"
        >Edit Details</a
      >
      <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn add-btn">Delete Details</button>
      </form>
    </div>
    <% } %>
  </div>

  <!-- map -->
  <div class="offset-md-1 offset-lg-2 col-xs-12 col-sm-12 col-md-10 col-lg-8 mb-3">
    <h3>Where you will be</h3>
    <div id="map"></div>
  </div>
  
 <!-- Rating and Review -->
  <div class="offset-md-1 offset-lg-2 col-xs-12 col-sm-12 col-md-10 col-lg-8 mb-3">
    <% if(currentUser){%>
      <hr />
    <h4>Rating and Reviews</h4>
    <form
      method="POST"
      action="/listings/<%=listing._id%>/reviews"
      novalidate
      class="needs-validation"
    >
    
    <div class="mb-3">
      <label for="rating" class="form-label">Rate this place</label>
      <fieldset class="starability-slot">
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
    </div>
      
      <div class="mb-3">
        <label for="comment" class="form-label">Write a review </label>
        <textarea
          tarea
          name="review[comment]"
          id="comment"
          cols="90"
          rows="5"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">
          Please write your experience &#128522;
        </div>
      </div>
      <button class="btn btn-success">Submit Review</button>
    </form>
    <hr />
    <% } %>

    <% if(listing.reviewDetails.length > 0){ %>
    <div class="row">
      <p><b>All Ratings and Reviews</b></p>
      <% for(review of listing.reviewDetails){ %>
      <div class="card col-8 col-sm-8 col-md-5  m-3">
        <div class="card-body">
          <h5 class="card-title fs-6 fw-bold"><%= review.author.username %></h5>
          <p class="starability-result card-text" data-rating= <%= review.rating %>>
          </p>
          <p class="card-text fs-8"><%= review.comment %></p>

          <!-- if the user is not the author of review, he can can not see review delete buttton -->
          <% if (currentUser && currentUser._id.equals(review.author._id)) { %>
            <form
            method="POST"
            action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE"
            >
            <button class="btn btn-danger btn-sm">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>
</div>

<script src="/js/map.js"></script>